# Public API gateway (Kong)
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=https://ywxuyhdvcvfqayckertu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3eHV5aGR2Y3ZmcWF5Y2tlcnR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNzk2NzgsImV4cCI6MjA5OTc1NTY3OH0.Vl2bReKtq1xvU3ci-l7uKVGPLDpas26WNlB1DeZwtHQ
